/* reset */
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* actual styling */
body {
  position: relative;
  display: flex;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  position: absolute;
  left: 34vw;
  padding: 20vh 4vw;
  padding-right: 0;
}

p {
  margin-bottom: 4vh;
  width: 400px;
}

p + p {
  margin-bottom: 8vh;
}

div.fields {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  margin-left: -0.2vw;
}

.fields div {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 0;
  margin-right: 40px;
  margin-bottom: 20px;

    
}

form h2 {
  margin-bottom: 12px;
}

button {
  margin: 20px 0;
}

.BG-img {
  position: absolute;
  height: 100vh;
  width: 36vw;
  top: -8px;
  left: -8px;
  background-image: url(images/music_background.avif);
}

.BG-img + div {
  position: absolute;
  top: 20vh;
  left: -8px;
  display: flex;
  color: white;
  background-color: rgba(0, 0, 0, 0.554);
  height: 12rem;
  width: 36vw;
  text-align: center;
  font-size: 6rem;
}

.BG-img + div > img {
  height: 8rem;
  margin: 2rem;

}

.BG-img + div div {
  margin-top: 3vh;
}

.field-wrapper {
  margin-left: -2.4vw;
  padding-left: 2.4vw;
  width: 64vw;
  box-shadow: 0 2px 2px 1px rgb(172, 172, 172);
}

label {
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}