/* reset */
@import "modern-normalize";

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* actual styling */
body {
  position: relative;
  display: flex;
  padding: 0;
}

main {
  position: absolute;
  left: 34vw;
  padding: 20vh 4vw;
}

p {
  margin-bottom: 4vh;
}

p + p {
  margin-bottom: 8vh;
}

div.fields {
  display: flex;
  flex-flow: row wrap;
  width: 500px;

}

.fields div {
  display: flex;
  flex-flow: column nowrap;
  margin-left: 0;
  margin-right: 40px;
  margin-bottom: 20px;
    
}

form h2 {
  margin-bottom: 12px;
}

button {
  margin: 20px 0;
}

.BG-img {
  position: absolute;
  height: 100vh;
  width: 36vw;
  top: -8px;
  left: -8px;
  background-image: url(images/music_background.avif);
}

.BG-img + div {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.444);
  height: 20vh;
  width: 36vw;
  text-align: center;
  top: 40vh;
  left: -8px;
  font-size: 4rem;
}